
*.vsidx
NarcisKH/obj/Debug/net8.0/NarcisKH.dll
NarcisKH/obj/Debug/net8.0/ref/NarcisKH.dll
NarcisKH/obj/Debug/net8.0/refint/NarcisKH.dll
NarcisKH/bin/Debug/net8.0/NarcisKH.exe
NarcisKH/obj/Debug/net8.0/refint/NarcisKH.dll
NarcisKH/obj/Debug/net8.0/NarcisKH.sourcelink.json
NarcisKH/obj/Debug/net8.0/NarcisKH.pdb
NarcisKH/obj/Debug/net8.0/NarcisKH.dll
